In [ ]:
ans-1)

In [1]:
marks = float(input("enter percentage "))
if marks > 90 :
    print('Grade = A')
elif marks > 80 and marks <= 90 :
    print('Grade = B')
elif marks >= 60 and marks <= 80 :
    print('Grade = C')
else :
    print('Grade = D')

enter percentage  87

Grade = B

In [ ]:
ans-2)

In [2]:
cost = float(input("enter bike cost : "))
if cost > 100000 :
    print("you have to pay 15% Tax.")
elif cost > 50000 and cost <= 100000 :
    print("you have to pay 10% Tax.")
elif cost <= 50000 :
    print("you have to pay 5% Tax.")

enter bike cost :  60000

you have to pay 10% Tax.

In [ ]:
ans-3)

In [3]:
print("Delhi, Agra, Jaipur")
city = input("enter any city shows here : ")
if city == 'Delhi' or city == 'delhi' :
    print("monument = red fort")
elif city == 'Agra' or city == 'agra' :
    print("monument = taj mahal")
elif city == 'jaipur' or city == 'Jaipur' :
    print("monument = jal mahal")
else :
    print("wrong input ")

Delhi, Agra, Jaipur

enter any city shows here :  jaipur

monument = jal mahal

In [ ]:
ans-4)

In [4]:
#taking no
number = float(input("enter number "))
i = 0
while number > 10 :
    number = number/3
    i = i + 1
print("the given number is divided by 3 unles it is less than 10 is " ,i)

enter number  300

the given number is divided by 3 unles it is less than 10 is  4

In [ ]:
ans-5)

In [ ]:
we can use while loop in python when we need to access
a particular data which we needed or we can access while
loop unless the given particular condition is wrong.

example is given below :

In [5]:
#we can print a table with the help of while loop
number = int(input("enter number "))
i = 1
result = 1
while i <= 10 :
    result = number * i
    print(number ,"*" ,i ,"=" ,result)
    i=i+1

enter number  10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
ans-6)

In [13]:
#using nested while loop to print 3 different patterns
#1st pattern
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("* ",end=" ")
        j = j + 1
    print()   
    i = i + 1
    
#2nd pattern
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(i ,end=" ")
        j = j + 1
    print()   
    i = i + 1
    
#3rd pattern
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j ,end=" ")
        j = j + 1
    print()   
    i = i + 1

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
ans-7)

In [1]:
#reversing while loop to display numbers 10 to 1
i = 10
while i >0 :
    print(i)
    i = i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
ans-8)

In [2]:
#reversing while loop to display numbers 10 to 1
i = 10
while i >0 :
    print(i)
    i = i-1

10
9
8
7
6
5
4
3
2
1